/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.main {
    /* background-color: rgb(153, 156, 158); */
    /* z-index: -1; */
    /* background-image: url("../images/couchbg.jpg"); */
    background-color: #287FB8;
    /* margin-top: 50px; */
}




/* signup form */
h2 {
    text-align: center;
}

.errors {
 color: red
}

.signup-form-container {
    /* width: 300px; */
    padding: 60px 60px;
    /* height: 1000px; */
    padding-top: 200px;
    display: flex;
    align-items: center;

    flex-direction: column;

}

.signup-form-box {
    background-color: #fff;
    border-radius: 4px;
    border: 1px black solid;
    padding: 30px;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-input {
    border-radius: 4px;
    padding: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    font-size: 15px;
    /* width: 80%; */
    width: 300px;
}

.sessionbuttons {
    display: flex;

}

.session-submit {
    background-color: rgb(255, 114, 71);
    color: white;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    padding: 15px 50px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;

}

.session-submit:hover {
    background-color: #2371a3;
}

.session-submit.demo {
    background-color: #287FB8;
}

.session-submit.demo:hover {
    background-color: #2371a3;
}

.loginsection {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.loginlink {
    color: white;
    background-color: #287FB8;
    padding: 5px 0;
    border-radius: 4px;
}

.loginlink:hover {
    background-color: rgb(34, 108, 158);
}