.cityshow {
    padding: 60px 0;
    background-color: #F1EFEA;  
    position: relative;
}

.citybanner {
    width: 100%;
    height: 32vh;
    object-fit: cover;
    // object-position: 0 0;   
}   

.citytitle {
    position: absolute;
    top: 290px;
    left: 50px;
    color: white;
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.lists-container {
    background-color: #F1EFEA;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.hosts-list-container {
    background-color: #FFFFFF;
    max-width: 400px;
    border-radius: 2px;
}

.hosts-list-container header {
    border-bottom: 1px solid lightgrey;
    color: #27374C;
    font-weight: bold;
    padding: 16px;
    font-size: 18px;
    text-align: center;
}

.hosts-list {
    color: #27374C;
    font-size: 15px;
    border-bottom: 3px solid lightgrey;
    padding: 16px;
    text-align: center;
}

.hosts {
    display: flex;
    justify-content: center;
}

.hosts li{
    border: black;
    padding: 20px;
    align-items: center;
    text-align: center;
    svg {
        font-size: 60px;
        padding: 5px;
    }  
}
