.dashboard {
    padding: 90px 100px;
    background-color: #F1EFEA;
    display: flex;
    justify-content: space-between;
}

.dashboardside {
    width: 600px;
}

.block {
    background-color: white;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    padding: 25px;
    text-align: center;
}

.dashboardprofile {
    margin: 0 10px;  
}

.dashboardstatus {
    margin: 0 10px 10px 10px;
    font-weight: bolder;
}

.profiletitle {
    text-transform: uppercase;
    margin: 10px 10px 0 10px;
    text-align: start;
}

.completeprofile {
    margin: 0 10px;
    color: #287FB8;
}

.ad {
    margin: 10px 10px;
    padding: 150px 0px;
}

.explore {
    background-color: white;
    padding: 30px;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    margin-top: 10px;
}

.explore li {
    position: relative;
    padding: 10px;
}

.cityblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.picture-link {
    display: flex;
}

.cityname {
    position: absolute;
    top: 210px;
    left: 25px;
    color: white;
    font-size: 22px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.cityicon {
    object-fit: cover;
    object-position: 20% 0;
    width: 240px;
    height: 240px;
}