.dashboard {
    padding-top: 90px;
    padding-bottom: 20px;
    background-color: #F1EFEA;
    display: flex;
    justify-content: center;
    
}

.dashboardside {
    width: 350px;
}



.dashboardright {
    width: 900px;
}

.block {
    background-color: white;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    padding: 25px;
    text-align: center;
}

.dashboardprofile {
    margin: 0 10px;  
}

.dashboardstatus {
    margin: 0 10px 10px 10px;
    font-weight: bolder;
    position: relative;
    cursor: pointer;
}

.dashboardstatus p {
  position: relative;
}

.drop-down {
  position: absolute;
  background-color: white;
  top: 30px;
  left: 15%;

}

.drop-down p {
  padding: 10px 20px;
  border: 1px solid lightgrey;
}

.drop-down p:hover {
  background-color: rgb(241, 241, 241);
}

.profiletitle {
    text-transform: uppercase;
    margin: 10px 10px 0 10px;
    text-align: start;
}

.completeprofile {
    margin: 0 10px;
    color: #287FB8;
}

.ad {
    margin: 10px 10px;
    padding: 150px 0px;
}

.explore {
    text-align: left;
    padding: 10px 30px;
}

.cityblock {
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cityblock li {
    position: relative;
    padding: 10px;
}

.picture-link {
    display: flex;
}

.cityname {
    position: absolute;
    top: 210px;
    left: 25px;
    color: white;
    font-size: 22px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.cityicon {
    object-fit: cover;
    object-position: 20% 0;
    width: 240px;
    height: 240px;
}

.success-note {
    background-color: rgb(236, 236, 236);
    // border: 1px solid darkgrey;
    box-shadow: 1px 3px 6px 1px  rgba(0,0,0,0.25);;
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    top: 20%;
    left: 50%;
    text-align: center;
    animation: fadeIn ease 300ms;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}