// Place all the styles related to the direct_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box-header {
    background-color: white;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    border-radius: 3px;
    padding: 15px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.box-title {
    padding: 15px;
    background-color: #eceff2;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.requestcard {
    padding: 30px 80px;
    background-color: white;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    margin-bottom: 10px;
}

.requestcard span {
    padding: 0 10px;
}

.name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.responseForm {
   background-color: white;
   margin-top: 0;
}

.message {
    padding: 30px 55px;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    margin-top: -10px;
}

.yesnoform {
    background-color: #F7F7F7;
    padding: 30px 55px;
    color: #34495e;
    font-weight: bolder;
    font-size: 20px;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    align-items: center;
    margin-bottom: 10px;
}

.yesnobuttons {
    display: flex;
}

.yesnobuttons > div {
    border: 1px solid #287FB8;
    padding: 10px 25px;
    font-size: 15px;
}

.yes {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #287FB8;

}

.maybe {
    color: #287FB8;
}

.no {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #287FB8;

}

.activeResponse {
    color: white;
    background-color:#287FB8;
}
