.footer {
    background-color: #FFFFFF;
    color: rgb(146,157,173);
    padding: 30px 10pxgit ;
    height: 60px;
    width: 100%;
    max-width: 1280px;
}

.footer header {
    font-size: 12px;
}

.footer-icons i {
    border: 1px solid rgb(192, 193, 194);
    border-radius: 50%;
    padding: 6px;
    margin: 10px;
    font-size: 20px;
    color: rgb(52,73,94)
}