/* navbar */

.navbar {
    position: fixed;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    background-color: white;
    height: 69px;
    width: 100vw;
    z-index: 2;
    display: block;
}

.navbarcontent {
    display: flex;
    justify-content: space-between;
    margin: 7px auto;
    width: 100%;
    max-width: 1280px;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    padding-left: 25px;
    padding-bottom: 7px;
}

.navbarjoin {
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: bold;
    margin: 7px;
    background-color: #287FB8;
    border: 1px solid #287FB8;
    color: #fff;
}

.navbarjoin:hover {
    background-color: #3c5e94;
    border: 1px solid #2354a3;
}

.navbarlogin {
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: "Lato";
    margin: 7px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #287FB8;
    font-weight: bold;
    color: #287FB8;
}

button {
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7;
    // border: 1px solid #2354a3;
}

// .narbarlogin:hover {
//     background-color: #e7e7e7;
//     border: 1px solid #2354a3;
// }

.navbarright {
    display: flex;
    font-size: 10px;
    align-items: center;
    padding-top: 7px;
}

.navbarlink {
    display: flex;
    flex-direction: column;
}

.navbaricon {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbaricon:hover {
    color: orangered;
}

.navtitle {
    padding-bottom: 7px;
}

.main_nav_active {
    color: orangered;
    border-bottom: orangered 4px solid;
}

.navbariconimg {
    font-size: 30px;
    margin: 0 20px 3px 20px;
}

label {
    justify-content: center;
    
}

.searchbar {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    color: #333333;
}

.searchbar-left {
    border-right: 1px solid grey;
    padding: 10px 15px;
    width: 75px;
}

.searchbar-right {
    padding: 10px 15px;
    width: 300px;
    position: relative;
}

.search-input {
    padding: 0 10px;
    font-size: 16px;
    font-family: Lato;
}

.search-icon {
    color: rgb(237,101,4);
    font-size: 20px;
}

.search-result-list {
    position: absolute;
    top: 50px;
    left: 30px;
}

.search-result-list li {
    background-color: #FFFFFF;
    border: 1px solid lightgrey;
    padding: 15px 35px;
}

.search-result-list li:hover {
    background-color: rgb(241, 241, 241);
}