/* navbar */

.navbar {
    display: flex;
    position: fixed;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    
}

.logo {
    height: 70px;
    width: 270px;
    padding: 5px 60px;
}

.button {
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15px;
    margin: 7px;
    /* width: 50px; */
}

.button.join {
    background-color: #287FB8;
    border: 1px solid #287FB8;
    color: #fff;
}
.button.join:hover {
    background-color: #2371a3;
    border: 1px solid #2371a3;
}

.button.login {
    border: 1px solid #287FB8;
    color: #287FB8;
}

.button.login:hover {
    background-color: #f2f2f2;
}

.navbarright {
    display: flex;
    padding-right: 80px;
    font-size: 10px;
    align-items: center;
}

.navicon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navicon:hover {
    color: orangered;
}

.naviconimg {
    width: 40px;
    height: 40px;
    margin: 0 20px 3px 20px;
}

label {
    justify-content: center;
}