/* navbar */

.navbar {
    position: fixed;
    box-shadow: 0 3px 6px 0  rgba(0,0,0,0.25);
    background-color: white;
    height: 69px;
    width: 100vw;
    z-index: 2;
    display: block;
}

.navbarcontent {
    display: flex;
    justify-content: space-between;
    margin: 7px auto;
    width: 100%;
    max-width: 1280px;
    align-items: center;
}

.logo {
    height: 50px;
    width: 50px;
    padding-left: 25px;
}

.navbarjoin {
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: "Lato";
    font-size: 15px;
    font-weight: bold;
    margin: 7px;
    background-color: #287FB8;
    border: 1px solid #287FB8;
    color: #fff;
}

.navbarjoin:hover {
    background-color: #3c5e94;
    border: 1px solid #2354a3;
}

.navbarlogin {
    border-radius: 3px;
    cursor: pointer;
    padding: 8px 12px;
    font-family: "Lato";
    margin: 7px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #287FB8;
    font-weight: bold;
    color: #287FB8;
}

button {
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7;
    // border: 1px solid #2354a3;
}

// .narbarlogin:hover {
//     background-color: #e7e7e7;
//     border: 1px solid #2354a3;
// }

.navbarright {
    display: flex;
    font-size: 10px;
    align-items: center;
}

.navbarlink {
    display: flex;
    flex-direction: column;
}

.navbaricon {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.navbaricon:hover {
    color: orangered;
}

.navbariconimg {
    font-size: 30px;
    margin: 0 20px 3px 20px;
}

label {
    justify-content: center;
}