.requestform {
    padding: 10px 10px 0 10px;
}

.requestform form {
    background-color: white;
    padding: 50px;
}

.requestform form input {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    // width: 100%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.534);
}

.requestform form textarea {
    border: 1px solid rgba(0,0,0,0.15);
    margin-top: 5px;
    padding: 15px;
    font-size: 15px;
    width: 95%;
}

.requestFormButtons {
    text-align: end;
}

.cancel {
    background-color: #afb7c3;
    margin: 10px;

}