// Place all the styles related to the Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spot {
    margin-bottom: 0;
}

.spot li {
    padding: 10px 10px;
    font-size: 15px;
}

.spotsection {
    margin-top: 30px;
}

.spot .boxheader {
    font-size: 15px;
}

.arrangement {
    text-indent: 25px;
}